@media only screen and (min-width: 64rem) {

	.left-column, .right-column{
		width: 50%;
		padding: 15px;
	}
}	/* 64em is also 1028px when basefont is 16px */
	/* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

   /* nav button {
		display:none;
	}*/




