@media only screen and (min-width: 37.5em) {

	/* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
	/*nav button {
		display:none;
	}*/
	/* 35em is also 560px when basefont is 16px */
	/*@media only screen and (min-width: 35rem) {
	}*/
	.hamburger {
		display: none;
	}
	.navigation.responsive{}
	.navigation {
		display:flex;
		justify-content: space-around;
		background-color: #386FA4;
		overflow: hidden;
		text-align: center;
	}

	.navigation li {
		display:block;
		background-color: #386FA4;
		margin-left: .25rem;
	}
	.navigation a {
		padding: .5rem;
		text-align: center;
		display: block;
		text-decoration: none;
		font-weight: 800;
		color: #eee;
	}
	.navigation a:hover {
		color: #FDD331;
	}

	article {
		display: flex;
		flex-direction: row-reverse;
	}

	.town-article {
		width: 100%;
		height: auto;
	}

	.left-column, .right-column{
		width: 50%;
		padding: 5px;
	}

	table,
	td,
	th {
		border: 1px solid gray
	}

	table {
		border: 1px solid gray;
		width: 100%;
		border-collapse: collapse;
		background-color: #FDD331;
		margin-left: auto;
		margin-right: auto;
	}

	td {
		text-align: center;
		background-color: #FDD331;
	}

	th {
		text-align: center;
		background-color: #FDD331;

	}

	#forecast {
		display: ;
	}


	.gallery-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 10px;
		background-color: aquamarine;
	}

	.gallery-item {
		color: #fff;
		margin-bottom: 40px;
		border: 1px solid black;
		padding: 10px;
		text-align:center;
		background-color: #000000;
	}

	.gallery-item p {
		background-color: skyblue;
		padding: 5px;
	}
}
