/* This main css file contains the default rules and is geared toward the small/phone view */


#foot{
	color:#fff;
}
* {
	box-sizing: border-box;
}
.designs {
	display: flex;
	justify-content: center;
}

.designs ul{
	list-style: none;
}

.weatherStoryTime{
	padding: 10px;
	margin: 10px;
}
#forecast {
	display: none;
}

body {
	font-size: 18px;
	color: #000000;
	font-family:'Montserrat:200', sans-serif;
}

.superherosquad {
	text-align: center;
	margin-left: 25px;
}

.currentweatherstats {
	text-align: center;
}

header title {
	font-family:'Montserrat:700', sans-serif;
	background-color: #FFFFFF;
	width: auto;
	height: 145px;
	margin-top: 0px;
	padding: 10px;
	height: 50px;
}


h1 {
	font-family:'Montserrat:500', sans-serif;
	font-size: 50px;
	text-align: center;
	margin-top: -5px;
	margin-bottom: 10px;
}

h2 {
	font-family:'Montserrat:400', sans-serif;
	font-size: 25px;
	text-align: center;
	color: #000000;
}

h4 {
	font-family:'Montserrat:300', sans-serif;
	text-align: center;
}

header {
	font-family:'Montserrat:600', sans-serif;
	display: flex;
}

#siteTitle h1 {
	font-family:'Montserrat700', sans-serif;
	color:#FF6B6B;
	margin-top: 55px;
}

header img.logo {
	margin-left: 5px;
	width: 20%;
	height: 20%;
	margin-top: 20px;
	margin-left: 20px;
}

.subheading {
	font-family:'Montserrat:500', sans-serif;
	color:#4ECDC4;
	font-size: 25px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}
#subheading { font-family:'Montserrat:200', sans-serif;
	color:#FF6B6B;
	text-align: center;
}

.hamburger {
	display: block;
	position: absolute;
	top: 1rem;
	right: 1.25rem;
}

.hamburger:hover {
	color: #4ECDC4;
}

.navigation {
	font-family:'Montserrat:200', sans-serif;
	background-color: #1A535C;
	list-style: none;
	padding-left: 0;
}

.navigation li {
	display: none;
}

.navigation.responsive li {
	background-color: #1A535C;
	background-color: #1A535C;
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 5px;
}

.navigation.responsive li a {
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	font-size: 1rem;
	color: #eee;
	font-weight: 800;
}


.navigation.responsive li a:hover {
	color: #4ECDC4;
}

.bord {
	border: 4px;
	background-color: #4ECDC4;
}

.square {
	background-color: lightgray;
	padding: 10px;
	font-size: 25px;
	margin-left: 75px;
}

.gallery-grid {
	display: grid;
	grid-template-columns: 1fr;
	padding: 10px;
	background-color: #4ECDC4;
}

/*.home-grid {
	display: grid;
	grid-template-columns: 1fr;
	padding: 10px;
}

.home-item {
	color: #fff;
	margin-bottom: 40px;
	border: 1px solid black;
	padding: 10px;
	text-align: center;
	background-color: #454545;

}

.home-item p {
	background-color: #707070;
	height: 300px;
	padding: 5px;
}
*/



/*.fn,
gv,
sf {
	image-orientation: center;
}*/



.gallery-item {
	color: #fff;
	margin-bottom: 40px;
	border: 1px solid black;
	padding: 10px;
	text-align: center;
	background-color: #454545;
}

.gallery-item p {
	background-color: #707070;
	padding: 5px;
}

.mainpage-grid {
	display: grid;
	grid-template-columns: 1fr;
	padding: 10px;
	background-color: #707070;
}

.mainpage-item {
	color: #fff;
	margin-bottom: 40px;
	border: 1px solid black;
	padding: 10px;
	text-align: center;
	background-color: #454545;
}

.mainpage-item p {
	background-color: #707070;
	padding: 5px;
}


main {}

main h2 {}

main figure {
	margin: 0 0 .2rem 2%;
	width: 96%;
}

main figure img {
	width: 100%;
}

.skybanner img{
	border: 5px solid #707070;
}

section {
	text-align: center;
}


.town-article {
	width: 100%;
	height: auto;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 20px;
	padding-top: 20px;
}

footer {
	font-family:'Montserrat:200', sans-serif;
	display: block;
	background-color: #1A535C;
	text-decoration-color: #000000;
	text-align: center;
	width: 100%;
	height: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0px;
}


footer aside {}

footer > p {}

.articleweather {
	display: flex;
	flex-direction: column;
}

/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


/*weather data tables*/

html {
	font-family: Ubuntu, sans-serif;
}

/*#tableTitleSmaller{
	display:none;
}*/

#bold {
	font-weight: bolder;
	font-size: 16px;
}

.divBox {
	border: 1px solid black;
	padding: 10px;
	margin-right: 3px;
	text-align: center;
	background-color: #707070;
	margin-bottom: 10px;
	margin-left: 3px;
}

.divBox2 {
	border: 1px solid black;
	padding: 10px;
	margin-right: 3px;
	text-align: center;
	background-color: #707070;
	margin-bottom: 10px;
	margin-left: 3px;
}

.design {
	text-align: center;
}

.designs {
	text-align: center;
}

html {
	font-family: Ubuntu, sans-serif;
}



table {
	border: 3px solid #454545;
	letter-spacing: 1px;
	font-size: 0.8rem;
	border-collapse: collapse;
	margin: 5%;
}

td,
th {
	text-align: center;
	border: 3px; color:#000000;
	padding: 10px 20px;
	font-size: 15px;
	color: black;
}


tr:nth-child(odd) td {
	background-color: #FFFFFF;
}

tr:nth-child(even) td {
	background-color: #707070;
}

tr:nth-child(odd) th {
	background-color: #707070;
}

tr:nth-child(even) th {
	color: white;
}

tfoot {
	font-weight: 100;
	font-size: 12px;
	color: darkslategray;
}

#special {
	background-color: #454545;
	color: white;
	font-weight: 500;
}


#tableTitle {
	background-color: #FDD331;
	font-size: 30px;
}

#tableTitleSmaller {
	background-color: #FDD331;
	font-size: 20px;
	color: #000000;
	/*box-shadow: 5px 5px 10px #454545;
	text-align: center;
	margin: 0 auto;*/
}

#bold {
	font-weight: bolder;
	font-size: 16px;
}

#shadow {
	box-shadow: 5px 5px 10px #454545;
	text-align: center;
	margin: 0 auto;
}

.banner {
	height: auto;
}

legend{
	background-color: white;
	font-size: 22px;
	padding: 5px;
}

#contactinfo, .contactinfo {text-align: center;}
#map {text-align: center;}

