@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    title {background color:#2E3C54;width:auto; height:50px; padding:10px;}
    head {background color:#2E3C54;width:auto; height:50px; padding:10px;}
    article p.town-article img { width: 29.333%; }

}
