/* This main css file contains the default rules and is geared toward the small/phone view */
* { box-sizing: border-box;}
/* This wildcard applies to all elements ensuring a box layout model */
body { font-size: 25px;color:#000000;}
    /* Declare the base font-family - from google font api or other */
header{ }
title
#nav{background-color:#FDD331;
height:35px;
font-size:25px;
font-weight:bold;
font:Tahoma;
}

main
footer
{ /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */ }
header {background-color:#FFFFFF; height:145px;
    margin-top:0px;}
h1  {text-align:center; margin-top:-75px; margin-bottom:10px;}
h2 {text-align:center; background-color: #FDD331; border 1 color:}
header id=
    img {width:100%;margin-left: 20px;margin-top:20px;}
header .subheading {text-align:center;margin-top:20px;margin-bottom: 10px;}

nav {}
nav button {}
nav ul {
    list-style-type:none;
    margin:0;
    padding: 0;
    background-color:#386FA4;width: auto; height: 75px; margin-top: 10px;


}
nav ul li {
    text-align: center;
    width:150px;
    height:40px;
    margin:0px 4px;
    border: 2px solid #000000;
    border-radius:5px;
    float:left;
    margin-left:50px;
    margin-top: 20px;
    margin-bottom: 20px;

}
nav ul li a {
    display:block;
    width:120px;
    height:40px;
    line-height:40px;
    text-decoration:none;
    text-align:center;
    color:#FFFFFF;


}
nav ul li.active a {
    background-color:none;
    color:none;
}
nav ul li a:hover:not(.active) {background-color: none;
color:#FDD331;}


main {} main h2 {}

table  {
    width:100%;
    border-collapse:collapse;
    background-color: #FDD331;
    margin-left: auto;
    margin-right: auto;

}

td{
    text-align: center;
    background-color: #FDD331;
}
th{
    text-align: center;
    background-color: #FDD331;
}

}
main figure
{ margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }
section {text-align: center;}
article p.town-article img {float:right; width="50"; height="50";margin-left:10px;margin-right:10px; }

footer {background-color:#386FA4; text-align:center; width:"auto"; height:"50px"; padding-bottom:20px;padding-top: 20px;}
footer aside {}
footer>p {}
/* This structure refers to p elements that are direct children of the footer element */
/* Other Class Selectors */
