header title {
	background-color: #FFFFFF;
	width: auto;
	height: 145px;
	margin-top: 0px;
	padding: 10px;
	height: 50px;
}

html {font-family: sans-serif;
}

table,

table {
	border: 2px solid #000000;
	letter-spacing: 1px;
	font-size: 0.8rem;
	width: 100%;
	border-collapse: collapse;
	background-color: #7fb9c2;
	margin-left: auto;
	margin-right: auto;
}

td, th {
	text-align: center;
	background-color: #FDD331;
	border: 1px solid rgb(190,190,190);
	padding: 10px 20px;
}
th {
	background-color: #628ca6;
}
tr:nth-child(even) td {
	background-color: #e7f0ed;
}
tr:nth-child(odd) td {
	background-color: #e7ffed;
}
caption {
	padding: 10px;
}

tfoot {
	background-color: #7fb9c2;
}

.shadow :table {
	box-shadow: 5px 5px 10px #628ca6;
}

white square
